html {
    font-size: 16px;
} 

* {
    font-family: Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/background.png"); 
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1; 
}

#logo {
    font-size: 2rem;
    color: #fe81bd;
    padding: 1px;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000000;
    padding: 10px 20px;
    height: auto;
    box-sizing: border-box;
}

.navbar-left h2{
    color:#fe81bd;
    margin: 10px;
    padding: 5px;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.navbar-center ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navbar-center ul a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-center ul a:hover {
    color: #fe81bd;
    transition: all 0.1s ease;
}

#profile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 1px solid #fe81bd;
    padding: 10px 0;
    list-style: none;
    z-index: 1000;
    text-align: left;
}

#profile-menu.active {
    display: block;
}

#profile-menu li {
    padding: 10px 20px;
}

#profile-menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

#profile-menu li a:hover {
    background-color: #fe81bd;
    color: #000000;
    transition: all 0.2s ease;
}

.btn {
    font-size: 1.1rem;
    margin: 20px 15px 0px 0px;
    padding: 10px 20px;
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    border: 5px #fe81bd solid;
    border-radius: 5px;
}

.btn:hover {
    border-color: #ffffff;
    background-color: #fe81bd;
    transition: all 0.1s ease;
}

.hamburger {
    display: none;
    color: #ffffff;
    background: #fe81bd;
    padding: 2px 5px;
    font-size: 24px;
    cursor: pointer;
    position: absolute; 
    right: 25px;
    top: 20px;
}

.hamburger:hover {
    background: #ffffff;
    color: #fe81bd;
    transition: all 0.1s ease;
}

.container {
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 600px;
    color: #ffffff;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
}

p {
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    border: 2px solid #fe81bd;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 14px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}

.login-text {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
}

.login-text a, .terms a {
    color: #fe81bd;
    text-decoration: underline;
    font-weight: 600;
}

.terms {
    font-size: 12px;
    margin-top: 15px;
}

.sign-up-btn {
    width: 100%;
    background: #fe81bd;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.sign-up-btn:hover {
    color:#000000;
}

.or-text {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.or-text::before,
.or-text::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background: #ffffff;
    top: 50%;
}

.or-text::before {
    left: 0;
}

.or-text::after {
    right: 0;
}

.google-btn {
    width: 100%;
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.google-btn img {
    width: 20px;
}